@define-color background-color #273654;
@define-color font-color      #EAEAEA;
@define-color front-color       #7CAFCB;
@define-color secondary-color  #0D1B2A;

* {
	border: none;
	border-radius: 10px;
    font-family: "JetbrainsMono Nerd Font" ;
	font-size: 15px;
	min-height: 10px;
    background: transparent;
}

window#waybar.top {
	/* background-color: @secondary-color; */
	background-color: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 0px;
	margin-left: 8px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;

	border-radius: 10px;
	transition: none;
	color: @front-color;
	background-color: @background-color;
}

#network {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#pulseaudio {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
   	color: @font-color;
	background: @background-color;
}

#battery {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#battery.charging, #battery.plugged {
	color: @font-color;
    background-color: @background-color;
}

#battery.critical:not(.charging) {
    background-color: @background-color;
   	color: @font-color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @background-color;
       	color: @font-color;
    }
}

#backlight {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#clock {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#memory {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#cpu {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#temperature {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#tray {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#workspaces {
    background-image: url("wave1.svg"), url("wave2.svg"), url("wave3.svg");
    background-color: @background-color;
    background-repeat: repeat-x;
    background-size: cover;
    background-position: 0% -10%, 500% 0%, 1000% -20%;
    animation: waves 100s linear infinite forwards;
}

#workspaces button {
   	color: @font-color;
}

#workspaces button.active {
    background-color: @front-color;
}


@keyframes waves {
  to {
      background-position: 2000% 0%, 2500% 0%, 3000% 0%;
  }
}

#workspaces.active {
	background: @background-color;
}

#disk {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#image {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}
