@define-color background-color #1B263B;
@define-color font-color      #EAEAEA;
@define-color front-color       #7CAFCB;
@define-color secondary-color  #0D1B2A;

* {
	border: none;
	border-radius: 10px;
    font-family: "JetbrainsMono Nerd Font" ;
	font-size: 15px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
    color: transparent;
	background: transparent;
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
   	color: @font-color;
	background: @background-color;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#battery.charging, #battery.plugged {
	color: @font-color;
    background-color: @background-color;
}

#battery.critical:not(.charging) {
    background-color: @background-color;
   	color: @font-color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @background-color;
       	color: @font-color;
    }
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}
#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
	/*background: @background-color;*/
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#temperature {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
   	color: @font-color;
    background: @background-color;
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#custom-wallpaper {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#custom-updates {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#custom-media {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}


#workspaces {
	/* margin-top: 6px; */
	/* margin-left: 8px; */
	/* padding-left: 10px; */
	/* margin-bottom: 0px; */
	/* padding-right: 10px; */
	/* border-radius: 10px; */
	/* transition: none; */
    background-image: url("wave1.svg"), url("wave2.svg"), url("wave3.svg");
    /* background-image: url("wave1.svg"); */
    background-color: @background-color;
    background-repeat: repeat-x;
    background-size: cover;
    /* background-position: 0 130%, -50px 130%, 50px 130%; */
    background-position: 0% -10%, 500% 0%, 1000% -20%;
    /* background-position: -50% 0%; */
    animation: waves 30s linear infinite forwards;
}

#workspaces button {
   	color: @font-color;
}

#workspaces button.active {
    background-color: @front-color;
}


@keyframes waves {
  to {
      background-position: 2000% 0%, 2500% 0%, 3000% 0%;
  }
}

#workspaces.active {
	/* margin-top: 6px; */
	/* margin-left: 8px; */
	/* padding-left: 10px; */
	/* margin-bottom: 0px; */
	/* padding-right: 10px; */
	/* border-radius: 10px; */
	/* transition: none; */
    /* color: #161320; */
	background: @background-color;
}


#disk {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}

#image {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @font-color;
	background: @background-color;
}
