@define-color background-color #192236;
@define-color widget-background-color #192236;
/* @define-color widget-background-color #273654; */
@define-color font-color      #EAEAEA;
@define-color front-color       #7CAFCB;
@define-color secondary-color  #0D1B2A;

@keyframes waves {
    to {
	background-position: 2000% 0%, 2500% 0%, 3000% 0%;
    }
}

@keyframes big-waves {
    to {
	background-position: 2000px 0%, 2500px 0%, 3000px 0%;
    }
}

* {
    border: none;
    border-radius: 4px;
    font-family: "JetbrainsMono Nerd Font" ;
    font-size: 14px;
    min-height: 16px;
    background-color: transparent;
}

/* box.module { */
/*     border: 2px solid green; */
/* } */

label.module {
    border-radius: 0px;

    min-width: 64px;
    /* border-left: 2px solid white; */
    /* border-right: 2px solid white; */

    padding: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 0px;
    margin-bottom: 0px;

    /* margin-left: 0px; */
    /* padding-left: 0px; */
    /* padding-right: 0px; */
    /* font-size: 25px; */
}

window#waybar {
    /* background-color: @secondary-color; */
    /* background-color: transparent; */
    /* background-color: @background-color; */
    /* background-image: url("wave1.svg"), url("wave2.svg"), url("wave3.svg"); */
    background-color: @background-color;

    /* background-repeat: repeat-x; */
    /* background-size: cover; */
    /* background-position: -500px -10%, 0px 0%, 500px -20%; */
    /* animation: big-waves 100s linear infinite forwards; */
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    padding: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 0px;
    margin-bottom: 0px;

    transition: none;
    color: @font-color;
    background-color: @widget-background-color;
}

#network {

    transition: none;
    color: @font-color;
    background: @widget-background-color;
}

#pulseaudio {

    transition: none;
    color: @font-color;
    background: @widget-background-color;
}

#battery {

    transition: none;
    color: @font-color;
    background: @widget-background-color;
}

#battery.charging, #battery.plugged {
    color: @font-color;
    background-color: @widget-background-color;
}

#battery.critical:not(.charging) {
    background-color: @widget-background-color;
    color: @font-color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @widget-background-color;
        color: @font-color;
    }
}

#backlight {

    transition: none;
    color: @font-color;
    background: @widget-background-color;
}

#clock {
    transition: none;
    color: @font-color;
    /* background: @widget-background-color; */
}

#memory {

    transition: none;
    color: @font-color;
    background: @widget-background-color;
}

#cpu {

    transition: none;
    color: @font-color;
    background: @widget-background-color;
}

#temperature {

    transition: none;
    color: @font-color;
    background: @widget-background-color;
}

#tray {

    transition: none;
    color: @font-color;
    background: @widget-background-color;
}

#workspaces {
    background-image: url("wave1.svg"), url("wave2.svg"), url("wave3.svg");
    background-color: @widget-background-color;
    background-repeat: repeat-x;
    background-size: cover;
    background-position: 0% -10%, 500% 0%, 1000% -20%;
    animation: waves 30s linear infinite forwards;
}

#workspaces button {
    color: @font-color;
}

#workspaces button.active {
    background-color: #9cadd6;
}

#workspaces.active {
    background: @widget-background-color;
}

#disk {
    transition: none;
    color: @font-color;
    background: @widget-background-color;
}

#image {

    transition: none;
    color: @font-color;
    background: @widget-background-color;
}

tooltip {
    background: @secondary-color;
}


#language {

    transition: none;
    color: @font-color;
    background: @widget-background-color;
}

tooltip label {
    color: @font-color;
}
